@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&family=Shrikhand&display=swap");
body {
   margin: 0;
   font-family: "Roboto", sans-serif, font-awesome;
}

h1 {
   font-family: "Shrikhand", sans-serif;
}

header {
   display: flex;
   justify-content: center;
   margin: 0.5em;
}

header a {
   text-decoration: none;
   color: black;
   margin-top: 7px;
}

header .fas.fa-arrow-left {
   display: flex;
   width: 0;
   margin-left: -59px;
   font-size: 21px;
   height: 80%;
   align-items: center;
}

header img {
   width: 60%;
   height: 100%;
}

img {
   width: 100%;
   height: 15em;
   object-fit: cover;
}

.resto_nom {
   display: flex;
   justify-content: space-between;
   padding-left: 1em;
   position: relative;
   background-color: #F6F6F6;
   border-radius: 2em 2em 0em 0em;
   margin-top: -3em;
}

.resto_nom i {
   display: flex;
   align-items: center;
   font-size: 25px;
}

.resto_nom i.far.fa-heart {
   position: absolute;
   top: 30px;
   right: 20px;
}

.resto_nom i.fas.fa-heart {
   position: absolute;
   top: 30px;
   right: 20px;
   opacity: 0;
   background: -webkit-linear-gradient(#FF79DA, #9356DC);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   cursor: pointer;
}

.resto_nom i.fas.fa-heart:hover {
   opacity: 1;
   transition: 0.5s ease-out;
}

.details_menu {
   background-color: #F6F6F6;
   width: 100%;
}

.details_menu section {
   height: fit-content;
   display: flex;
   flex-direction: column;
}

.details_menu section h2 {
   padding-left: 1em;
   margin-bottom: 0;
   font-weight: 100;
   font-size: 1em;
}

.details_menu section .border {
   border: solid 1px;
   width: 12%;
   margin-left: 1.2em;
   border-color: #99E2D0;
   margin-bottom: 1em;
}

.details_menu .menu__card {
   border-radius: 10px 10px 10px 10px;
   width: 85%;
   height: 60px;
   display: flex;
   justify-content: space-between;
   box-shadow: 0.15em 0.15em 0.15em 0.15em #dcdcdc;
   background-color: white;
   margin-bottom: 20px;
   animation: menuus 1s;
   overflow: hidden;
   margin-right: auto;
   margin-left: auto;
   opacity: 1;
   transition-property: opacity;
   transition-duration: 2s;
   cursor: pointer;
}

.details_menu .menu__card--1 {
   animation-duration: 500ms;
}

.details_menu .menu__card--2 {
   animation-duration: 1000ms;
}

.details_menu .menu__card--3 {
   animation-duration: 1500ms;
}

.details_menu .menu__card--4 {
   animation-duration: 2000ms;
}

.details_menu .menu__card--5 {
   animation-duration: 2500ms;
}

.details_menu .menu__card--6 {
   animation-duration: 3000ms;
}

.details_menu .menu__card--7 {
   animation-duration: 3500ms;
}

.details_menu .menu__card--8 {
   animation-duration: 4000ms;
}

.details_menu .menu__card--9 {
   animation-duration: 4500ms;
}

.details_menu .menu__card:hover .checkbox_container {
   margin: 0;
   width: 5em;
   transition-duration: 0.5s;
}

.details_menu .menu__card:hover .checkbox_container .checkbox {
   transform: rotate(360deg);
   transition: 0.6s ease-out;
}

.details_menu .menu_description {
   width: 73%;
   overflow: hidden;
   text-overflow: ellipsis;
   white-space: nowrap;
   padding-top: 0.8em;
   padding-left: 0.5em;
}

.details_menu .menu_description .plat_nom {
   text-overflow: ellipsis;
   overflow: hidden;
}

.details_menu .menu_description .plat_compo {
   text-overflow: ellipsis;
   flex-wrap: nowrap;
   overflow: hidden;
}

.details_menu h3 {
   margin: 0;
   font-weight: 400;
}

.details_menu p {
   margin: 0;
   font-size: 14px;
   font-weight: 300;
}

.details_menu .plat_prix {
   padding-right: 0.8em;
   padding-bottom: 0.3em;
   padding-top: 2.5em;
}

.details_menu .checkbox_container {
   background-color: #99E2D0;
   width: 10%;
   margin-right: -75px;
   color: white;
   display: flex;
   justify-content: center;
   transition-duration: 0.5s;
}

.details_menu .checkbox_container .checkbox {
   transform: rotate(180deg);
}

.details_menu .checkbox_container .checkbox i.far.fa-check-circle {
   display: flex;
   height: 100%;
   align-items: center;
   font-size: 1.3em;
}

@keyframes menuus {
   0% {
      margin-top: 10px;
      opacity: 0;
   }
   100% {
      margin-top: 0;
      opacity: 1;
   }
}

.command_button {
   width: 100%;
   display: flex;
   justify-content: center;
   padding-bottom: 4em;
   margin-top: -2em;
   padding-top: 4em;
}

.command_button #commander {
   height: 3em;
   display: flex;
   align-items: center;
   border-radius: 100px;
   background-image: linear-gradient(#FF79DA, #9356DC);
   color: white;
   padding: 0 2.5em;
   border: none;
   font-size: 1.2em;
   outline: none;
   cursor: pointer;
}

.command_button #commander:hover {
   filter: brightness(1.2);
   box-shadow: 0.15em 0.15em 0.15em 0.15em #b8b6b6;
   outline-style: none;
}

footer {
   background-color: #2F4F4F;
   height: 8em;
   padding-top: 1em;
}

footer img {
   width: 20%;
}

footer li {
   list-style: none;
}

footer li .fas {
   color: white;
   width: 20px;
}

footer li i.fas.fa-hands-helping {
   font-size: 10px;
}

footer li a {
   text-decoration: none;
   color: white;
}

footer span {
   font-family: "Shrikhand", cursive;
   color: white;
   padding-left: 0.8em;
}


/* VERSION DESKTOP */

@media all and (min-width: 1024px) {
   header .fas.fa-arrow-left {
      margin-left: -180px;
      font-size: 33px;
   }
   header img {
      width: 38%;
   }
   img {
      width: 100%;
      height: 20em;
      object-fit: cover;
   }
   .resto_nom {
      width: 99%;
   }
   .resto_nom .fa-heart {
      justify-content: flex-end;
      font-size: 1.6em;
      padding-right: 20px;
   }
   .resto_nom .fa-heart .fa-heart:before {
      width: 90%;
      display: flex;
      place-content: flex-end;
   }
   .details_menu {
      display: flex;
      flex-direction: row;
      width: 100%;
      justify-content: space-around;
   }
   .details_menu section {
      width: 33%;
      height: 23em;
      justify-content: space-around;
   }
   .details_menu section .menu__card {
      height: 70px;
   }
   footer {
      display: flex;
   }
   footer span {
      width: 20%;
      font-size: 3em;
      align-self: center;
   }
   footer ul {
      margin-left: 10em;
   }
}


/* VERSION DESKTOP */


/* VERSION TABLETTE */

@media all and (min-width: 480px) and (max-width: 1023px) {
   header i.fas.fa-arrow-left {
      position: absolute;
      top: -360px;
      left: 110px;
      font-size: 2em;
   }
   img {
      height: 17em;
      object-fit: cover;
   }
   .resto_nom h1 {
      font-size: 3em;
   }
   .resto_nom .fa-heart {
      font-size: 2em;
      justify-content: flex-end;
   }
   .details_menu {
      padding-bottom: 2em;
   }
   .details_menu section {
      height: fit-content;
      font-size: 1.8em;
   }
   .details_menu section .menu__card {
      height: 4em;
   }
   .details_menu section .menu__card .menu_description .plat_compo {
      font-size: 1em;
   }
   .details_menu section .menu__card .plat_prix {
      font-size: 1em;
      display: flex;
      align-items: flex-end;
      width: 5%;
   }
   .command_button #commander {
      font-size: 2em;
   }
   footer {
      display: flex;
   }
   footer span {
      width: 20%;
      font-size: 3em;
      align-self: center;
   }
   footer ul {
      margin-top: 0em;
      margin-left: 8em;
      font-size: 1.4em;
   }
}


/* VERSION TABLETTE */


/*# sourceMappingURL=alafrancaise.css.map */
