@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&family=Shrikhand&display=swap");
body {
  margin: 0;
  font-family: "Roboto", sans-serif, font-awesome;
}

h1 {
  font-family: "Shrikhand", sans-serif;
}

header {
  display: flex;
  justify-content: center;
  margin: 0.5em;
}
header a {
  text-decoration: none;
  color: black;
  margin-top: 7px;
}
header .fas.fa-arrow-left {
  display: flex;
  width: 0;
  margin-left: -59px;
  font-size: 21px;
  height: 80%;
  align-items: center;
}
header img {
  width: 60%;
  height: 100%;
}

img {
  width: 100%;
}

.details_menu {
  background-color: #F6F6F6;
  position: relative;
  width: 100%;
  margin-top: -3em;
  border-radius: 2em 2em 0em 0em;
  padding-top: 1em;
}
.details_menu .resto_nom {
  display: flex;
  justify-content: space-between;
  padding-left: 1em;
}
.details_menu .resto_nom i {
  display: flex;
  align-items: center;
  font-size: 25px;
}
.details_menu .resto_nom i.far.fa-heart {
  position: absolute;
  top: 2em;
  right: 2em;
  left: 13em;
}
.details_menu .resto_nom i.fas.fa-heart {
  position: absolute;
  top: 2em;
  right: 2em;
  opacity: 0;
  color: #9356DC;
  left: 13em;
  cursor: pointer;
}
.details_menu .resto_nom i.fas.fa-heart:hover {
  opacity: 1;
  transition: 0.5s ease-out;
}
.details_menu section {
  height: 18em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.details_menu section h2 {
  padding-left: 1em;
  margin-bottom: 0;
  font-weight: 100;
  font-size: 1em;
}
.details_menu section .border {
  border: solid 1px;
  width: 12%;
  margin-left: 1.2em;
  border-color: #99E2D0;
}
.details_menu .menu__card {
  border-radius: 10px 10px 10px 10px;
  width: 85%;
  display: flex;
  justify-content: space-between;
  padding: 0.6em;
  box-shadow: 0.15em 0.15em 0.15em 0.15em #dcdcdc;
  background-color: white;
  margin: 0.3em 0;
  align-self: center;
  animation: menuus 900ms;
  transform-origin: top left;
  overflow: hidden;
  cursor: pointer;
}
.details_menu .menu__card--1 {
  animation-delay: 90ms;
}
.details_menu .menu__card--2 {
  animation-delay: 180ms;
}
.details_menu .menu__card--3 {
  animation-delay: 270ms;
}
.details_menu .menu__card--4 {
  animation-delay: 360ms;
}
.details_menu .menu__card--5 {
  animation-delay: 450ms;
}
.details_menu .menu__card--6 {
  animation-delay: 540ms;
}
.details_menu .menu__card--7 {
  animation-delay: 630ms;
}
.details_menu .menu__card--8 {
  animation-delay: 720ms;
}
.details_menu .menu__card--9 {
  animation-delay: 810ms;
}
.details_menu .menu__card:hover .checkbox_container {
  margin: -0.6em -0.6em -0.6em 0em;
  animation: checkbox 500ms ease-in forwards;
  /*transform-origin: right; */
  width: 5em;
  transition-duration: 0.5s;
}
.details_menu .menu__card:hover .checkbox_container .checkbox {
  transform: rotate(360deg);
  transition: 0.6s ease-out;
}
.details_menu .menu_description {
  width: 73%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.details_menu .menu_description .plat_nom {
  text-overflow: ellipsis;
  overflow: hidden;
}
.details_menu .menu_description .plat_compo {
  text-overflow: ellipsis;
  flex-wrap: nowrap;
  overflow: hidden;
}
.details_menu h3 {
  margin: 0;
  font-weight: 400;
}
.details_menu p {
  margin: 0;
  font-size: 14px;
  font-weight: 300;
}
.details_menu .plat_prix {
  display: flex;
  flex-direction: column-reverse;
  padding-right: 0.8em;
}
.details_menu .checkbox_container {
  background-color: #99E2D0;
  width: 10%;
  height: 1;
  margin-right: -99px;
  color: white;
  transform: scaleX(1);
  display: flex;
  justify-content: center;
}
.details_menu .checkbox_container .checkbox {
  transform: rotate(180deg);
}
.details_menu .checkbox_container .checkbox i.far.fa-check-circle {
  display: flex;
  height: 100%;
  align-items: center;
  font-size: 1.3em;
}

@keyframes menuus {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes checkbox {
  0% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}
.command_button {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 4em;
  margin-top: -2em;
  padding-top: 4em;
}
.command_button #commander {
  height: 3em;
  display: flex;
  align-items: center;
  border-radius: 100px;
  background-image: linear-gradient(#FF79DA, #9356DC);
  color: white;
  padding: 0 2.5em;
  border: none;
  font-size: 1.2em;
  outline: none;
  cursor: pointer;
}
.command_button #commander:hover {
  opacity: 0.8;
  box-shadow: 0.15em 0.15em 0.15em 0.15em #b8b6b6;
  outline-style: none;
}

footer {
  background-color: #2F4F4F;
  height: 8em;
  padding-top: 1em;
}
footer img {
  width: 20%;
}
footer li {
  list-style: none;
}
footer li .fas {
  color: white;
  width: 20px;
}
footer li i.fas.fa-hands-helping {
  font-size: 10px;
}
footer li a {
  text-decoration: none;
  color: white;
}
footer span {
  font-family: "Shrikhand", cursive;
  color: white;
  padding-left: 0.8em;
}

/*# sourceMappingURL=alafrancaise.css.map */
