@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&family=Shrikhand&display=swap');

body{
    margin: 0;
}

header{
    display: flex;
    justify-content: center;
    margin: 0.5em;
    img {
    width: 60%;
    height: 100%;
    }
}

img{
    width: 100%;
}

.details_menu{
    background-color: #F6F6F6;
        background-color: #F6F6F6;
        position: absolute;
        width: 100%;
        margin-top: -3em;
        border-radius: 2em;
        padding-top: 1em;
        padding-left: 1em;
}



footer{
    background-color: #2F4F4F;
    height: 8em;
    padding-top: 1em;
    img{
        width: 20%;
    }
    li{
        list-style: none;
        .fas {
            font-weight: 600;
            color: white;
        }
        a{
            text-decoration: none;
            color: white;
        }
    }
    span{
        font-family: 'Shrikhand', cursive;
        color: white;
        padding-left: 0.8em;
    }
}