@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&family=Shrikhand&display=swap');

body{
    margin: 0;
    font-family: 'Roboto', sans-serif, font-awesome;
}

h1{
    font-family: 'Shrikhand', sans-serif;
}

header{
    a {
        text-decoration: none;
        color: black;
        margin-top: 7px;
    }
    .fas.fa-arrow-left {
        display: flex;
        width: 0;
        margin-left: -59px;
        font-size: 21px;
        height: 80%;
        align-items: center;
    }
    display: flex;
    justify-content: center;
    margin: 0.5em;
    img {
    width: 60%;
    height: 100%;
    }
}

img{
    width: 100%;
}

.details_menu{
    background-color: #F6F6F6;
    position: relative;
    width: 100%;
    margin-top: -3em;
    border-radius: 2em 2em 0em 0em;
    padding-top: 1em;
    .resto_nom{
        display: flex;
        justify-content: space-between;
        padding-left: 1em;
        i{
            display: flex;
            align-items: center;
            font-size: 25px;
        }
        i.far.fa-heart{
            position: absolute;
            top: 2em;
            right: 2em;
        }
        i.fas.fa-heart {
            position: absolute;
            top: 2em;
            right: 2em;
            opacity: 0;
            color: #9356DC;
            &:hover{
                opacity: 1;
                transition: 0.5s ease-out;
            }
        }
    }
    section{
    height: 18em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
        h2{
            padding-left: 1em;
            margin-bottom: 0;
            font-weight: 100;
            font-size: 1em;
        }
        .border{
            border: solid 1px;
            width: 12%;
            margin-left: 1.2em;
            border-color: #99E2D0;
        }
    }
        .menu__card{
            border-radius: 10px 10px 10px 10px;
            width: 85%;
            display: flex;
            justify-content: space-between;
            padding: 0.6em;
            box-shadow: 0.15em 0.15em 0.15em 0.15em #dcdcdc;
            background-color: white;
            margin: 0.3em 0;
            align-self: center;
            animation: menuus 900ms;
            transform-origin: top left;
            overflow: hidden;
                @for $i from 1 through 9 {
                    &--#{$i} {
                        animation-delay: 90ms * $i;
                     }
                }
                &:hover .checkbox_container {
                    margin: -0.6em -0.6em -0.6em 0em;
                    animation: checkbox 500ms;
                    transform-origin: right;
                    width: 5em;
                    }
                &:hover .checkbox_container .checkbox {
                    transform: rotate(360deg);
                    transition: 0.3s ease-out;
                }
                }
            .menu_description{
                width: 73%;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                .plat_nom {
                    text-overflow: ellipsis;
                    overflow: hidden;
                }
                .plat_compo {
                    text-overflow: ellipsis;
                    /* display: flex; */
                    flex-wrap: nowrap;
                    overflow: hidden;
                }
            }
            h3{
                margin: 0;
                font-weight: 400;
            }
            p{
                margin: 0;
                font-size: 14px;
                font-weight: 300;
            }
            .plat_prix{
                display: flex;
                flex-direction: column-reverse;
                padding-right: 0.8em;
            }
            .checkbox_container{
                background-color: #99E2D0;
                width: 10%;
                height: 1;
                margin-right: -99px;
                color: white;
                transform: scaleX(1);
                display: flex;
                justify-content: center;
                .checkbox {
                    transform: rotate(180deg);
                    i.far.fa-check-circle {
                        display: flex;
                        height: 100%;
                        align-items: center;
                        font-size: 1.3em;
                    }
                }
            }
        }


@keyframes menuus{
0% {
    transform: scale(0);
}

100% {
    transform: scale(1);
}
}

@keyframes checkbox{
    0% {
        transform: scaleX(0.8);
    }
    
    100% {
        transform: scaleX(1);
    }
    }

.command_button {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 4em;
    margin-top: -2em;
    padding-top: 4em;
        #commander{
        height: 3em;
        display: flex;
        align-items: center;
        border-radius: 100px;
        background-image: linear-gradient(#FF79DA, #9356DC);
        color: white;
        padding: 0 2.5em;
        border: none;
        font-size: 1.2em;
        outline: none;
        &:hover{
            opacity: 0.8;
            box-shadow: 0.15em 0.15em 0.15em 0.15em #b8b6b6;
            outline-style: none;
        }
  }
}



footer{
    background-color: #2F4F4F;
    height: 8em;
    padding-top: 1em;
    img{
        width: 20%;
    }
    li{
        list-style: none;
        .fas {
            color: white;
            width: 20px;
        }
        i.fas.fa-hands-helping {
            font-size: 10px;
        }
        a{
            text-decoration: none;
            color: white;
        }
    }
    span{
        font-family: 'Shrikhand', cursive;
        color: white;
        padding-left: 0.8em;
    }
}