@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&family=Shrikhand&display=swap');

body
     {
        font-family: 'Roboto', sans-serif, font-awesome;
        margin: 0;
    }

html{
    width: 100%;
}

header{
    display: flex;
    justify-content: center;
    margin: 0.5em;
    img {
    width: 60%;
    height: 100%;
    }
}

.search{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 200px;
    background-color: #F6F6F6;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 3em;
    font-weight: 600;
    .accroche{
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 95%;
        }
        span{
            margin-bottom: 1em;
        }
    #rechercher {
        width: 375px;
        background-color: #EAEAEA;
        border: none;
        text-align: center;
        height: 2.5em;
    }
    #explorer{
        border-radius: 100px;
        background-image: linear-gradient(#FF79DA, #9356DC);
        color: white;
        padding: 0.8em;
        border: none;
        font-weight: 600;
        padding: 1.3em;
        box-shadow: 0.15em 0.15em 0.15em 0.15em #DCDCDC;
        &:hover{
            background-image: linear-gradient(#fca4e3, #a97fdb);
            box-shadow: 0.15em 0.15em 0.15em 0.15em #b8b6b6;
            outline-style: none;
        }
    }
}

.fonctionnement{
    display: flex;
    flex-direction: column;
    margin: 1.5em 0em 1.5em 0em;
    h1{
        margin-left: 0.3em;
    }
    .boutonsfiltre{
        display: flex;
        flex-direction: column;
        height: 15em;
        justify-content: space-between;
        align-items: center;
        counter-reset: section;
        list-style-type: none;
        li{
            list-style: none;
            border-radius: 10px 10px 10px 10px;
            background-color: #F6F6F6;
            padding: 1em;
            font-weight: 600;
            border: none;
            width: 80%;
            height: 2.5em;
            padding-left: 1.8em;     
            display: flex;
            align-items: center; 
            &:before{
                FONT-WEIGHT: 400;
                width: 1.4em;
                counter-increment: section;
                content: counters(section,".") " ";
                background-color: #9356DC;
                border-radius: 100px;
                position: absolute;
                margin-left: -2.07em;
                height: 1.4em;
                align-items: center;
                display: flex;
                justify-content: center;
                color: white;
                }   
        }
        input{
            background-color: #F6F6F6;
            border: none;
            font-size: 1.1em;
        }
    }
}
.resto{
    background-color: #F6F6F6;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 70em;
    justify-content: space-around;
    padding-bottom: 1.5em;
    h1{
        width: 85%;
        margin-bottom: -0.5em;
    }
    a{
       text-decoration: none;
       color: black;
    }
    }
    article{
        background-color: white;
        width: 90%;
        border-radius: 10px;
        img{
            width: 100%;
            height: 10em;
            object-fit: cover;
            border-radius: 10px 10px 0px 0px;
        }
        span{
            position: absolute;
            margin-left: -5.5em;
            background-color: #99E2D0;
            justify-content: normal;
            margin-top: 1em;
            padding: 0.5em;
            border-radius: 3px;
        }
        .txt_resto{
            display: flex;
            margin-top: -0.7em;
            padding-left: 0.5em;
            .description{
                width: 100%;
            }
            i.far.fa-heart {
                display: flex;
                align-items: center;
                padding-right: 1em;
            }
            .resto_location{
                margin-top: -0.7em;
            }
        }
    }


footer{
    background-color: #2F4F4F;
    height: 8em;
    padding-top: 1em;
    img{
        width: 20%;
    }
    li{
        list-style: none;
        .fas {
            color: white;
            width: 20px;
        }
        i.fas.fa-hands-helping {
            font-size: 10px;
        }
        a{
            text-decoration: none;
            color: white;
        }
    }
    span{
        font-family: 'Shrikhand', cursive;
        color: white;
        padding-left: 0.8em;
    }
}